<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDriverWebService" receiveTimeout="02:10:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9097/Driver/DriverWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDriverWebService"
                contract="DriverWebServiceReference.IDriverWebService" name="BasicHttpBinding_IDriverWebService" />
        </client>
    </system.serviceModel>
</configuration>