<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDriverWebService" receiveTimeout="02:10:00" />
                <binding name="BasicHttpBinding_IAccountWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1980/Driver/DriverWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDriverWebService"
                contract="DriverWebServiceReference.IDriverWebService" name="BasicHttpBinding_IDriverWebService" />
            <endpoint address="http://localhost:1980/Account/AccountWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountWebService"
                contract="AccountWebServiceReference.IAccountWebService" name="BasicHttpBinding_IAccountWebService" />
        </client>
    </system.serviceModel>
</configuration>