<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDriverWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9097/Driver/DriverWebService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDriverWebService"
          contract="DriverWebServiceReference.IDriverWebService" name="BasicHttpBinding_IDriverWebService" />
    </client>
  </system.serviceModel>
</configuration>