<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDriverWebService" />
        <binding name="BasicHttpBinding_IAccountWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1980/Driver/DriverWebService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDriverWebService"
          contract="DriverWebServiceReference.IDriverWebService" name="BasicHttpBinding_IDriverWebService" />
      <endpoint address="http://localhost:1980/Account/AccountWebService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountWebService"
          contract="AccountWebServiceReference.IAccountWebService" name="BasicHttpBinding_IAccountWebService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>